// foo_dsp_bassenhancer resources: the DSP configuration popup. Coordinates are dialog units.

#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_CONFIG DIALOGEX 0, 0, 290, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bass Enhancer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Mode:",IDC_STATIC,7,9,60,8
    COMBOBOX        IDC_MODE,70,7,150,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Listen",IDC_LISTEN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,232,8,50,10

    LTEXT           "Blend (3rd - 2nd):",IDC_STATIC,7,29,62,8
    CONTROL         "",IDC_BLEND,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,26,170,15
    LTEXT           "",IDC_BLEND_V,240,29,45,8

    LTEXT           "Amount:",IDC_STATIC,7,47,60,8
    CONTROL         "",IDC_AMOUNT,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,44,170,15
    LTEXT           "",IDC_AMOUNT_V,240,47,45,8

    LTEXT           "Harmonics:",IDC_STATIC,7,65,60,8
    CONTROL         "",IDC_DRIVE,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,62,170,15
    LTEXT           "",IDC_DRIVE_V,240,65,45,8

    LTEXT           "Scope:",IDC_STATIC,7,83,60,8
    CONTROL         "",IDC_SCOPE,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,80,170,15
    LTEXT           "",IDC_SCOPE_V,240,83,45,8

    CONTROL         "Floor:",IDC_FLOOR_ON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,100,58,10
    CONTROL         "",IDC_FLOOR,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,98,170,15
    LTEXT           "",IDC_FLOOR_V,240,101,45,8

    LTEXT           "Input:",IDC_STATIC,7,119,60,8
    CONTROL         "",IDC_IN,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,116,170,15
    LTEXT           "",IDC_IN_V,240,119,45,8

    LTEXT           "Output:",IDC_STATIC,7,137,60,8
    CONTROL         "",IDC_OUT,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,134,170,15
    LTEXT           "",IDC_OUT_V,240,137,45,8

    LTEXT           "Listen gain:",IDC_STATIC,7,155,60,8
    CONTROL         "",IDC_LGAIN,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,66,152,170,15
    LTEXT           "",IDC_LGAIN_V,240,155,45,8

    LTEXT           "",IDC_INFO,7,173,276,18
    PUSHBUTTON      "Reset",IDC_RESET,7,197,50,14
    CONTROL         "Bypass",IDC_BYPASS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,66,199,60,10
    DEFPUSHBUTTON   "OK",IDOK,179,197,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,233,197,50,14
END
